<h1 class="page-header">{{title}}</h1>

<p>
  Bristol LoRaWAN is a group of like minded people, forming a community
  co-operative, established in 2016 to develop and deploy a public Internet
  of Things, low-power, long range network to businesses, the community and
  voluntary sector, and the general public.
</p>
<p>
  It was initially fuelled by the energy of Benedict Gaster and Nigel Legg
  with the aim of building a IoT infastructure for everyone. Since then we
  have now established a network within Bristol and others have joined, and
  continue to join, to expand the network and provide their unique skills to
  the process.
</p>
<p>
  This site’s content is covered by a
  <a href="http://creativecommons.org/licenses/by-sa/3.0/">
    Creative Commons Attribution-ShareAlike licence.
  </a>
</p>
