<h1 class="page-header">{{title}}</h1>

<p class="lead">
  Bristol LoRaWAN runs a regular, every other month, meetup for everyone who
  is interested in LoRaWAN, IoT, and, in particular, Bristol's version of
  those things.
</p>

<p>
  The meetup is on a Monday and held at the Arnolfini, which is part
  of UWE's City Campus. More details and registration can be found at
  <a href="http://www.meetup.com/LoRaWAN-Bristol/">
    http://www.meetup.com/LoRaWAN-Bristol/
  </a>.
</p>

<p>
  If your interested in attending check out the site, equally if you got something
  you want to talk about, just drop us a line.
</p>

<h2>Previous Meetup Material</h2>

<ul>
  <li><h3>October 17th 2016</h3>
    <p>
      <a href="http://www.cems.uwe.ac.uk/~br-gaster/research/talks/lorawan-bristol-meetup-oct17-2016/index.html">
        Slides
      </a> from Benedict R. Gaster's intro to Bristol LoRaWAN.
    </p></li>
</ul>
