<h1 class="page-header">Contact Information</h1>

<p class="lead">
  There are many people who have contributed to LoRaWAN Bristol, to many to
  mention here, instead this page provide contact information for some of
  the people currenlty working extending the network, building nodes, or
  contributing in other ways to make this community network possible.
</p>

<address>
  <strong>Benedict R. Gaster</strong><br>
  University of West of England<br>
  Frenchay Campus<br>
  Coldharbour Lane<br>
  Bristol<br>
  BS16 1QY<br>
  <a href="mailto:#">benedict.gaster@uwe.ac.uk</a>
</address>

<address>
  <strong>Nigel Legg</strong><br>
  Bristol<br>
  +44 (0) 7758 665575<br>
  <a href="mailto:#">nigel.legg@gmail.com</a>
</address>
