body {
   background: url("./assets/brist lowran 885x885.png") top left no-repeat;
   background-size: 15%;
   background-position: 20px 50px;
   background-attachment: fixed;
  /* Margin top by nav height */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    background-size: 10%;
    background-position: 5px 50px;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 10%;
    background-position: 5px 50px;
  }
}


.main .page-header {
  margin-top: 0;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}



/*
 * Add a sticky footer for twiter links, copyright, and so on
 */
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 50px;
   background-color: #333;
 }

 body > .container {
   padding: 50px 15px 0;
 }
 .container .text-muted {
   margin: 20px 0;
 }

 .footer > .container {
   padding-right: 15px;
   padding-left: 15px;
 }

 code {
   font-size: 80%;
 }

.footer-text {
  color:#777;
}

 /*
  * each routed page is wrapped such that it does not overlay the footer
  */
.page-text {

  /* this must match the footer height */

  width:75%;
	position: relative;
	margin:-13px auto 50px auto;
	padding: 2px 0px 0px 0px;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.logo {
    position: fixed;
    top: 55px;
    right: 0;
    width: 100px;
    height: 100px;
}

.logo img {
   max-width:100%;
   max-height:100%;
}
