<h1 class="page-header">{{title}}</h1>

<h2>Introduction</h2>

<p>
  LoRaWAN Bristol is a messy network, meaning no handoff between gateways,
  many gateways can overlap, and as such adding to the network is
  straightforward and reasonably cheap. Each new gateway adds both potential
  range, but also robustness. The moto is Every Gateway Helps.
</p>

<p>
  Excited? This means that LoRaWAN Bristol wants more gateways and if your
  interested, then this page provides details on the process of building and
  registering a new gateway.
</p>

<p>
  <b>This page is under development! Come back soon...</b>
</p>

<h2>Gateway BOM</h2>

<p>
  The complete BOM can be found
  <a href="../assets/gateway/BOM_BristolLoRaWAN_Gateway.xlsx">here</a>.
</p>

<h2>Building the Inside</h2>

<h2>Installing in the Enclosure</h2>

<h2>Installing Gateway Software</h2>

<h2>Register Your Gateway with Bristol LoRaWAN</h2>

<p>
  Registering your gateway means that it can be added to the Bristol LoRaWAN
  map, its status reported on our
  <a routerLink="/dashboard" routerLinkActive="active">dashboard</a>, and we
  can report the number of gateways installed in and around the city.
  Click below to register gateway.
</p>
<p>
  <a href="#" class="btn btn-primary btn-md" role="button">Register Gateway</a>
</p>
