<h1 class="page-header">{{title}}</h1>

<p class="lead">
  This the home of the Bristol LoRaWAN Network, a low power radio network for the Internet
  of Things, based on LoRaWAN and utilizing <a href="https://thethingsnetwork.org">
  The Things Network</a>.
</p>

<p>
  LoRaWAN&#8482; is a Low Power Wide Area Network (LPWAN) specification intended
  for wireless battery operated Things in regional, national, or global
  networks. LoRaWAN target key requirements of internet of things such as
  secure bi-directional communication, mobility and localization services.
</p>

<p><a href="https://www.thethingsnetwork.org/">The Things Network</a> is
   a is a global, open, crowd-sourced Internet of Things data network.
   It is built around the technology of LoRaWAN, providing open source
   software for hardware gateways and backend services.  For a general
   view on their goals see the
   <a href="https://github.com/TheThingsNetwork/Manifest">Manifesto</a>.

 </p>

 <p>
   The Things Network distinguish the following components, when viewed
   from from a high level:
 </p>
 <p><img src="../assets/bristol_lorawan_ttn.png" style="width:80%;" class="center">

  <ul>
    <li>
      <b>Nodes</b>: Simple devices that are deployed "in the wild".  They
      can do measurements, collect data or perform actions.  Nodes can
      broadcast or receive small messages (usually about 1/10 the size
      of an SMS) either periodically (some devices broadcast every
      couple of minutes, other devices only once in a number of hours).
    </li>
    <li>
      <b>Gateways</b>: Antennas that receive broadcasts from Nodes and
      send data back to Nodes. Gateways are connected to the Internet
      and communicate with The Things Network's servers. Gateways have a
      long range, so they can provide connectivity to nodes that are
      multiple kilometers away.
    </li>
    <li>
      <b>The Things Network Backend</b> route messages from Nodes to the
      Application, and back.
    </li>
    <li>
      <b>Your Application connects</b> to The Things Network's servers to
      receive messages from and send messages to your Nodes. What you
      do with it is entirely up to you!
    </li>
  </ul>
